<p>converter works!</p>
<form [formGroup]="converterForm">
  <div class="form-group">
    <input type="number" class="form-control" placeholder="Value" id="valueFrom" formControlName="valueFrom" />
    <select class="form-control" id="unitFrom" formControlName="unitFrom">
      <option value="K" selected>Kelvin</option>
      <option value="F">Fahrenheit</option>
      <option value="C">Celsius</option>
    </select>
  </div>
  <div class="form-group">
    <input type="number" class="form-control" placeholder="Value" id="valueTo" formControlName="valueTo" />
    <select class="form-control" id="unitTo" formControlName="unitTo">
      <option value="K" selected>Kelvin</option>
      <option value="F">Fahrenheit</option>
      <option value="C">Celsius</option>
    </select>
  </div>
  <div class="form-group">
    <select formControlName="quantity" id="quantity">
      <option *ngFor="let quantity of availableQuantities; let i = index" [value]="availableQuantities[i]">
        {{availableQuantities[i]}}
      </option>
    </select>
  </div>
</form>


<p>Form value: {{converterForm.value | json}}</p>
<p>Form status: {{converterForm.status | json}}</p>
<p>Available quantities: {{availableQuantities}}</p>
